.navbar {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 15vh;
  background-color: white;
  color: white;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .navbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 10vh;
    background-color: white;
    color: white;
    overflow-x: auto;
    overflow-y: hidden;
  }
}
